<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Welcome!</h2>
    <fieldset>
        <legend>Register</legend>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/register" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="name">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="password" placeholder="password">
            <input type="text" name="confirm_password" placeholder="confirm_password">
            <input type="submit">
        </form>
    </fieldset>
    <fieldset>
        <legend>Login</legend>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/login" method="POST">
            {% csrf_token %}
            <input type="text" name="email" placeholder="email">
            <input type="text" name="password" placeholder="password">
            <input type="submit">
        </form>
    </fieldset>
</body>
</html>